alpaca-trade-api==0.35
pandas==2.0.3
urllib3==1.24
pytest==7.4.2
ipdb==0.13.13
redis==3.2.1
plotly==4.3.0
nbformat==4.4.0
daemonize==2.5.0
twilio==6.35.1
alpaca-py==0.10.0

#-e file:///Users/victor/work/alpaca-trade-api-python#egg=alpaca-trade-api
