alpaca-trade-api==0.35
pandas==0.22
urllib3==1.26.5
pytest==3.4.1
ipdb==0.11
redis==3.2.1
plotly==4.3.0
nbformat==4.4.0
daemonize==2.5.0
twilio==6.35.1

#-e file:///Users/victor/work/alpaca-trade-api-python#egg=alpaca-trade-api
