alpaca-trade-api==0.35
numpy==1.24.4
pandas==2.0.3
pytz==2023.3.post1
urllib3==1.24
pytest==7.4.2
ipdb==0.13.13
redis==3.2.1
plotly==4.3.0
nbformat==4.4.0
daemonize==2.5.0
clicksend-client
alpaca-py==0.43.2
oauthlib==3.2.2
rauth==0.7.3 # for etrade api client example
requests_oauthlib==1.3.1
yfinance==1.2.0
multitasking==0.0.11
mplfinance==0.12.10b0
matplotlib==3.7.5

#-e file:///Users/victor/work/alpaca-trade-api-python#egg=alpaca-trade-api
